.nav-link{
  font-weight: bold !important;
  font-size: 17px;
  color: #1d2547 !important;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.nav-link:hover{
  color: #9f78ff !important;
}
nav{
  background-color: #f7f7fd;
  box-shadow: 0 0px 4px 0 rgba(41, 39, 39, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.199);
}
.social-links{
  width: 14%;
}
.links,.links-1{
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 50%;
}
.fa-brands{
  color: #1d2547 !important;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
}
.fa-brands:hover{
  color: #9f78ff !important;
  transition: .2s !important;
  transform: rotateY(180deg) !important;
}
.top-footer{
  background-color: #1d2547;
  margin-top: 10px !important;
  width: 95%;
  padding-top: 5px !important;
}
.top-footer p{
  color: #C2C5DB;
  font-weight: 300;
  font-size: 14px;
  text-decoration: underline transparent;
}
.top-footer p:hover{
  color: #9F78FF !important;
  text-decoration: underline;
  cursor: pointer;
}
.links-1 .fa-brands{
  color: white !important;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
}
.links-1 .fa-brands:hover{
  color: #9f78ff !important;
  transition: .2s !important;
  transform: rotateY(180deg) !important;
}
.made-by{
  padding-top: 60px;
}
.made-by span{
  color: #9F78FF;
  font-size: 20px;
}
.btn,.btn_1{
  background-color: #9F78FF;
    padding: 27px 44px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    text-decoration: none;
    margin: 0;
    border-radius: 4px;
}
.btn:hover{
  background: #8464d3 !important;
  color: white !important;
}
.btn_1{
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 25px;
  font-weight: 700;
  transition: all .3s ease;
  transform: translate(-50%,-50%);
  opacity: 1;
  text-align: center;
}
.btn_1:hover{
  background: #8464d3 !important;
  color: white !important;
}
.home .overlay{
  position: absolute;
  width: 100%;
  height:20%;
  top: 70%;
  left: 0px;
  background: rgba(29,37,71,0.5);
  transition: all .3s ease;
  opacity: 0;
}
.home:hover .btn_1{
 margin-top: 250px;
}
.home .img-wrapper:hover .overlay{
  opacity: 1;
  top: 0;
}
.img-wrapper{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.home .overlay span{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 700;
  transition: all .3s ease;
  transform: translate(-50%,-50%);
  opacity: 1;
  text-align: center;
}
.home:hover .overlay span{
  opacity: 1;
  top: 50% ;
}
.section_2 h1{
  font-family: "Cinzel",serif;
  color: #140C40;
  font-size: 100px !important;
}
.card{
  border: none;
}
.stars i{
  font-size: 15px;
  color: #FBBA42 !important;
  margin-left: 3px;
}
.card-body{
  border: 1px solid #f9f6f6;
}
.card-body p{
  font-family: "Cinzel",serif;
  font-size: 20px;
  color: black;
  font-weight: 500;
}
.card-body h4:hover{
  text-decoration: underline black;
  cursor: pointer;
}
.btnn button{
  align-items: center;
  width: 200px !important;
  height: 60px !important;
  margin: auto;
  background-color: white;
  color:#8464d3;
  border:1px solid #8464d3;
}
.bg_img{
  position: relative;
  overflow: hidden;
}
.bg_img img{
  transition: all .4s ease;
}
.bg_img:hover{
  cursor: pointer;
}
.bg_img :hover img{
  transform: scale(1.1);
}
.social-icon{
  border-radius: 20px;
 background-color: #f7f7fd;
}
.secshop{
  background-color: #f7f7fd;
}
.secshop p{
  color: #C2C5DB;
}
.content h1{
  font-size: 70px;
  display: block;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4px;
  font-family: "Cinzel",serif;
}
.content p{
  color: #1d2547;
    font-size: 16px;
    font-weight: 400;
    font-family: "Cinzel",serif;
}
.about h1{
  color: #1d2547;
  font-size: 70px;
  font-weight: 700;
  font-family: "Cinzel",serif;
}
.about p{
  color: #646d77;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  padding-top: 20px;
}
.dropdowns button{
  width: 100%;
  background-color: white;
  padding: 10px 50px;
  border: 1px solid gainsboro; 
  color: #616875;
}
 .dropdowns a .dropdown-item{
  width: 100% !important;
}
.card{
  box-shadow: 0 0px 4px #f0e9ff;
}
.form-group {
  margin-bottom: 1rem;
}
.form-control{
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0;
  border-right: 0;
}
input:focus{
  outline: 0;
}
.search_1{
  padding: 31px 20px;
  width: 100%;
  height: 150px;
  background: #fbf9ff;
}
.content,.content_1{
  background: #fbf9ff;
  width: 100%;
}
.content p{
  color: #646D77;
  transition: .4s all ease;
  font-family: "Cinzel",serif;
  border-bottom: 1px solid #f0e9ff;
  padding: 5px;

}
.card-body p{
  color: #646D77;
}
.content p:hover{
  color: #9f78ff;
  cursor: pointer;
}
.input-group-append  button{
  background: #9F78FF;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 6px 17px;
    border-left: 0;
    cursor: pointer;
    color: white;
    outline: none;
    padding: 12px 20px;
}
.boxed-btn {
  background: #fff;
  color: #9F78FF !important;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Cinzel",serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #9F78FF;
  letter-spacing: 3px;
  text-align: center;
  color: #9F78FF;
  text-transform: uppercase;
  cursor: pointer;
}
.div_1 p{
  color: #646D77;
  transition: .4s all ease;
  font-family: "Cinzel",serif;
}
.div_1 p:hover{
  color: #9f78ff;
  cursor: pointer;
}
iframe{
  width: 100% !important;
  height: 400px;
}
textarea{
  height: 150px !important;
}
.bttn button{
  background-color: #f7f7fd;
  border:1px solid  #8464d3;
  color:#8464d3;
  transition: all .4s ease;
  width: 130px;
  height: 60px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.bttn button:hover{
  background-color: #8464d3;
  color: white;
}